{% extends 'main.html' %}
{% block content %}
    <div class="container grid mt-5">
                <!-- Here we loop over the rooms which we can get from the database -->
                <div class="row justify-content-evenly">
                {% for room in rooms %}
                        <div class="btn-group col-8 col-sm-2 mb-2" role="group">
                                <button onclick="window.location.href = '{{room.id}}/';"class="btn col-10 btn-primary">{{room}} ({{room.id}})</button>
                                <!-- <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <li><a class="dropdown-item" href="#"> room</a></li>
                                </ul> -->
                        </div>
                {% endfor %}
                </div>
    </div>
    <div class="fixed-bottom d-grid justify-content-end">
        <!-- <button class="btn btn-primary ">Add Appliance</button> -->
        <div class="dropup me-3 mb-3">
                <button class="btn btn-primary dropdown-toggle rounded-pill" type="button" id="dropdownMenu2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Add Room
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <li>
                                <form action="add/" class="p-3" method="POST"> {% csrf_token %}
                                        <input name="roomName" type="text" class="mb-2" placeholder="Room Name">
                                        <button class="btn btn-outline-primary">Add</button>
                                </form>
                        </li>
                </ul>
        </div>
</div>
{% endblock content %}
